<h2>質問一覧</h2>
<table>
    <% @questions.each do |question| %>
        <tr>
        
        <%= link_to user_path(question.user_id) do%>
            <td><%= attachment_image_tag question.user, :profile_image,format:'jpeg',size: "200x150" %></td>
            <td><%= question.user.nickname%></td>
        <%end%>
        <td><%= link_to question.title,question_path(question.id) %></td>
        </tr>
    <%end%>
</table>