<body>
    <div class="home text-center">
        <div class ="table1">
            <table class='table'>
                <tr>
                    <td colspan ="2"><span class="title text-center">Gather Programmer</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class ='text-center td'>Welcome　YOU　to　Gather Programmer</td>
                </tr>
                <div class = "tr">
                    <tr>
                    <td><%= link_to "プログラミング初学者の方", user_log_path,class:'btn btn-success td'%></td>
                    <td><%= link_to "プログラミング経験者の方", engineer_log_path,class: 'btn btn-success td'%><td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</body>