<div class ="home">
    <div class="table1">
        <table class="table text-center ">
        <td colspan ="2">プログラミング経験者の方</td>
        <tr>
        <td><%= link_to "sign up!", new_engineer_registration_path,class: 'btn btn-info'%></td>
        </tr>
        <tr>
        <td><%= link_to "sign_in!", engineer_session_path, class: 'btn btn-warning'%></td>
        </tr>
        </table>
    </div>
</div>
