<div class ="home">
<span></span>
<div class="table1">
    <table class="table text-center">
    <tr>
    <td colspan="2" class ="text-center">プログラミン初学者</td>
    </tr>
    <tr>
    <td><%= link_to "sign_up！", new_user_registration_path,class:'btn btn-info'%></td>
    </tr>
    <tr>
    <td><%= link_to "sign_in!", user_session_path, class: 'btn btn-warning'%></td>
    </tr>
    </table>
</div>
</div>