// Place all the styles related to the engineers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question{
    margin-top: 20px;
}
.btn-info{
    padding-left:100px;
    padding-right:100px;
}
.text-engineer{
    font-size: 20px;
}
.text-engineer1{
    font-size: 15px;
   
}
.image-engineer{
    margin-top:30px;
}
.name-engineer{
    margin-top:40px;
}
.profile-engineer{
    margin-top:40px;
}
.engineer-question{
    margin-bottom: 25px;
}
.engineer-edit{
    margin-top:150px;
}
#engineer_profile{
    width:500px;
    height:200px;
}
#engineer_nickname{
    width:500px;
}
.engineer-edit-title{
    margin-left: 50px;
    margin-top:50px;
}
.engineer-submit{
    padding-left: 240px;
    padding-right:240px;
}
.edit-engineer{
    margin-top:30px;
}
.engineer_question{
    //margin-top:100px;
}
.engineer-profile{
    margin-left:20px;
}
.review{
    font-size: 30px;
}