// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image{
    margin-right: 10px;
}


#question_question{
    width:500px;
    height:200px
}
#question_title{
    width:500px;
}

.question-title{
    margin-left: 50px;
    margin-top: 50px;
}
.question-table{
    margin-top:30px;
}
.question-submit{
    padding-right: 220px;
    padding-left: 220px;
    padding-top:10px;
    padding-bottom: 10px;
}
.question-edit-submit{
    padding-right: 240px;
    padding-left: 240px;
    padding-top:10px;
    padding-bottom: 10px;
}
.question-td{
    font-size:20px;
    margin-top: 20px;

}
.question-text{
    margin-top:10px;
    
}
.question-title{
    margin-top:40px;
    font-size:20px;

}
.question-edit{
    font-size:20px;
    padding-top: 40px;
}
.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin-top: 60px;
}
.box7 p {
    margin: 0; 
    padding: 0;
}
.question-status{
    color: red;
}
.question-tag{
    margin-top:40px;
}
.answer-submit1{
    margin-top:50px;
    padding:10px;
}
.question-question{
    font-size: 20px;
}
.PV{
    color:#6091d3;
}.q-title{
    font-size: 11px;
}
.btn-flat-vertical-border {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
    margin: 10px;
  }
  
  .btn-flat-vertical-border:hover {
    background: #668ad8;
    color: #FFF;
  }
  .question_pv{
     margin-right: 50px;
  }
.question_pv_marigin{
    margin-left: 250px;
}
.old_title{
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
}
.old-content{
    position: relative;
    padding-bottom: 60px;
}
.ranking{
    color: blue;
}